.taskListHeader {
    --taskListHeader-textColor: var(--color-lightGray-1);

    color: var(--taskListHeader-textColor);
}

.taskListHeader--heading {
    font-size: var(--u24);
    font-weight: bold;
    line-height: 1;
}

.taskListheader--subHeading {
    font-size: var(--u14);
    font-weight: lighter;
    line-height: 1;
    margin-top: var(--u4);
}