.item {
    background-color: var(--color-darkGray-2);
    color: var(--color-lightGray-1);

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-darkGray-4);
    border-radius: var(--app-borderRadius);

    margin-bottom: var(--u10);

    list-style: none;
}
.textContainer {
    font-weight: lighter;
    font-size: var(--u14);
    line-height: 1.6;

    padding-top: var(--u15);
    padding-bottom: var(--u20);
    padding-left: var(--u20);
    padding-right: var(--u20);
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;

    padding-top: var(--u20);
    padding-bottom: var(--u20);
    padding-left: var(--u20);
    padding-right: var(--u20);
}
