.item {
    background-color: var(--color-darkGray-2);
    color: var(--color-lightGray-1);

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-darkGray-4);
    border-radius: var(--app-borderRadius);

    padding-top: var(--u20);
    padding-bottom: var(--u20);
    padding-left: var(--u20);
    padding-right: var(--u20);

    margin-bottom: var(--u10);

    list-style: none;
}
@media screen and (min-width: 81rem) {
    .item {
        flex: 0 1 1;
        width: 16rem;
    }
}