.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: calc(100vh - 200px);
}

.innerContainer {
    display: flex;
    gap: var(--u20);
    max-width: 80vw;
}

.pageWrapper {
    background: var(--color-darkGray-1);
}
